*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
.container{
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
}
p{
    max-width: 700px;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 40px;
}
button{
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/* javascript circle */
div.cursor{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}