*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    height: 500px;
    width: 800px;
    background: #222;
}
.container .clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.clip1{
    background: url(second.jpeg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
}
.clip2{
    background: url(first.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
}
.clip3{
    background: url(third.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(82% 0, 100% 0%, 100% 100%, 63% 100%);
}
.container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100% );
}
.container .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
}

