
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}
.container{
    width: 25rem;
    background: rgb(7, 7, 7);
    padding: 30px;
}
.scroll-div{
    width: 400px;
    height: 500px;
    background: rgb(7, 7, 7);
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-object{
   padding: 20px;
}